HIGHSCORE_PORT=8083
HIGHSCORE_DB_URL=mongodb://localhost:27017/highscore

HIGHSCORE_SESSION_SECRET=yoursupersecret

HIGHSCORE_TITLE=HighScore
HIGHSCORE_DESCRIPTION=Open Source leaderboard
HIGHSCORE_LOGO_URL=/logo.png
HIGHSCORE_FAVICON_URL=/favicon.ico
HIGHSCORE_CSS_URL=

HIGHSCORE_USERNAME_DOCS=
HIGHSCORE_PASSWORD_DOCS=

HIGHSCORE_USERNAME_METRICS=
HIGHSCORE_PASSWORD_METRICS=

HIGHSCORE_DISABLE_DOCS=false
HIGHSCORE_DISABLE_METRICS=false