@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --highscore-logo-height: 115px;
  --highscore-logo-width: 115px;

  --highscore-primary-rgb: 94, 216, 255;
  --highscore-secondary-rgb: 22, 86, 146;
  --highscore-white-rgb: 255, 255, 255;
  --highscore-text-rgb: 0, 0, 0;

  --highscore-primary-color: rgb(var(--highscore-primary-rgb));
  --highscore-secondary-color: rgb(var(--highscore-secondary-rgb));
  --highscore-white-color: rgb(var(--highscore-white-rgb));
  --highscore-text-color: rgb(var(--highscore-text-rgb));

  --highscore-text-gradient-color: linear-gradient(90deg, var(--highscore-white-color) 0%, rgba(255, 255, 255, 0.12) 100%);
  --highscore-score-gradient-color: linear-gradient(90deg, var(--highscore-white-color) 0%, rgba(var(--highscore-white-rgb), 0.1) 79.84%);
  --highscore-gradient-color: linear-gradient(112.23deg, var(--highscore-primary-color) 0%, var(--highscore-secondary-color) 103.45%);

  --highscore-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

a {
  color: var(--highscore-primary-color);
}

.highscore {
  background-color: var(--highscore-secondary-color);
  background-image: var(--highscore-gradient-color);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.highscore__content {
  max-width: 1000px;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

.highscore__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: var(--highscore-white-color);
  padding: 1.5em 1.5em;
  width: 100%;
  text-decoration: none;
}

.highscore__brand {
  display: flex;
  align-items: center;
  color: var(--highscore-white-color) !important;
  text-decoration: none;
}

.highscore__cta {
  padding-right: 30px;
}

.highscore__logo {
  width: var(--highscore-logo-width);
  height: var(--highscore-gradient-color);
}

.highscore__alt {
  margin-left: 1em;
}

.highscore__title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  text-shadow: var(--highscore-shadow);
}

.highscore__description {
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  text-shadow: var(--highscore-shadow);
}

.highscore__leaderboard {
  font-weight: 800;
  font-size: 64px;
  text-transform: uppercase;
  color: var(--highscore-white-color);
  text-shadow: var(--highscore-shadow);
  margin-bottom: 0.4em;
}

.highscore__leaderboard span {
  font-weight: 300;
}

.highscore__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.highscore__main--privacy {
  align-items: flex-start;
  color: var(--highscore-white-color);
}

.highscore__main--privacy li {
  margin-left: 30px;
}

.highscore__main--left {
  align-items: flex-start;
  margin: 2.5em;
}

.highscore__scores {
  width: 100%;
  max-width: 650px;
  padding: 15px;
  box-sizing: border-box;
}

.highscore__text {
  margin: 20px;
}

.highscore__label {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--highscore-white-color);
  background: var(--highscore-text-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-right: 0.5em;
  line-height: 1;
}

.highscore__label span {
  font-size: 24px;
}

.highscore__data {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  overflow-wrap: anywhere;
  color: var(--highscore-white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.highscore__footer {
  background: rgba(var(--highscore-secondary-rgb), 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height: 150px;
  padding: 0px 40px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  color: var(--highscore-white-color);
}

.score {
  display: flex;
  justify-content: space-between;
  background-image: var(--highscore-score-gradient-color);
  color: rgb(var(--highscore-text-rgb));
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: var(--highscore-shadow);
  text-decoration: none;
  transition: all 0.3s ease;
}

.score:hover {
  transform: scale(1.02);
  background-color: var(--highscore-primary-color);
}

.score__name, .score__value {
  display: flex;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.score__position {
  font-size: 40px;
  margin: 0 15px 0px 5px;
}

.score__value {
  color: var(--highscore-white-color);
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.pagination__link, .share {
  color: var(--highscore-white-color);
  text-decoration: none;
  font-weight: bold;
  border: solid var(--highscore-white-color);
  padding: 10px 20px;
  width: 100%;
  max-width: 75px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination__link:not([href]) {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination__link[href]:hover, .share:hover {
  background-color: var(--highscore-white-color);
  color: var(--highscore-primary-color);
}

.pagination__page {
  font-weight: bold;
  color: var(--highscore-white-color);
}

.share {
  background: transparent;
  font-size: 50px;
  width: 300px;
  max-width: 100%;
  border-radius: 20px;
  font-style: italic;
}

.download {
  background-image: var(--highscore-score-gradient-color);
  background-color: var(--highscore-primary-color);
  color: var(--highscore-secondary-color);
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  border-radius: 15px;
  box-shadow: var(--highscore-shadow);
  transition: all 0.3s ease;
}

.download:hover {
  background-color: var(--highscore-white-color);
  box-shadow: 0 0 20px var(--highscore-white-color);
}

@media (max-width: 576px) { 
  .highscore__header {
    padding: 0.5em;
  }
  
  .highscore__logo {
    width: calc(var(--highscore-logo-width) / 1.5);
    height: calc(var(--highscore-gradient-color) / 1.5);
  }

  .highscore__brand {
    max-width: 250px;
  }

  .highscore__cta {
    padding-right: 0;
  }

  .highscore__alt {
    margin-left: 0.5em;
  }

  .highscore__title {
    font-size: 28px;
  }

  .highscore__description {
    font-size: 14px;
  }

  .highscore__main {
    margin-top: 1.5em;
  }

  .highscore__main--left {
    margin-left: 1em;
    margin-right: 1em;
  }

  .highscore__leaderboard {
    font-size: 32px;
  }  

  .highscore__text {
    margin: 10px 10px;
  }

  .highscore__label {
    font-size: 32px;
  }

  .highscore__data {
    font-size: 46px;
  }

  .score__name, .score__value {
    font-size: 20px;
  }

  .score__position {
    font-size: 27px;
    margin: 0 15px 0px 2px;
  }
  
  .share {
    width: 100%;
    font-size: 36px;
    padding: 10px 50px;
  }

  .download {
    font-size: 12px;
    padding: 7px 12px;
    border-radius: 10px;
  }
}