    </div>
    <footer class="highscore__footer">
        <p>Powered by <a href="https://github.com/EmilienLeroy/HighScore">HighScore</a></p>
        <p>See the <a href="/privacy">Privacy Policy</a></p>
        <p>Copyright © <%- new Date().getFullYear() %></p>
    </footer>
    <script src="/main.js"></script>
</body>
</html>