    </div>
    <footer class="highscore__footer">
        <p>Made with ☕ by <a href="https://github.com/EmilienLeroy">Emilien Leroy</a></p>
        <p>Released under the <a href="https://opensource.org/licenses/MIT">MIT License</a></p>
        <p>Copyright © <%- new Date().getFullYear() %></p>
    </footer>
    <script src="/main.js"></script>
</body>
</html>